.todo-div {
    display: grid;
    padding-top: 30px;
    padding-left: 30px;
    /* background-color: blue; */
}

.todo-head {
    height: min-content;
    margin-bottom: 20px;
}

.todo-list {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.content-table thead tr {
    background-color: #fd4766;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Error Message */
.error-message {
    color: #ff4d4d;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Input Fields */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Submit Button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
